<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/7e574780-0f87-42e8-af8c-5e8cb7d3540a/resourceGroups/jefmarti-rg/providers/Microsoft.ContainerRegistry/registries/jefmartiregistry</ResourceId>
    <ResourceName>jefmartiregistry</ResourceName>
    <ResourceGroup>jefmarti-rg</ResourceGroup>
    <Subscription>Demo Three Subscription</Subscription>
    <RegistryUrl>https://jefmartiregistry.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>