@model dotnetwindowsapp.Models.TaskItem

@{
    ViewBag.Title = "Delete";
}

    <div class="text-center">
        <h1 class="display-4">Delete Task</h1>
    </div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <b>@Html.DisplayFor(model => model.Title)</b>
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-right">
            <input type="submit" value="Delete" class="btn btn-outline-danger" /> 
        </div>
    }
</div>
