@model dotnetwindowsapp.Models.TaskItem

@{
    ViewBag.Title = "Details";
}

    <div class="text-center">
        <h1 class="display-4">Details</h1>
    </div>

<div>

    <hr />
    <dl class="dl-horizontal">

        <dd>
            <b>@Html.DisplayFor(model => model.Title)</b>
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<div class="text-dark text-right">
    <button class="btn btn-outline-dark">@Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "nav-link" }) </button>
</div>
